@page "/"
@inject IJSRuntime JS;
@inject ILogger<Index> Log;

<PageTitle>Index</PageTitle>

<div class="row col-12">
    <div class="card text-bg-light mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <div id="sigma-container" style="height: 500px"></div>
      </div>
    </div>
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("makeGraph");
            Log.LogInformation("first render");
        }
        Log.LogInformation("render");
    }

}


