@inherits LayoutComponentBase

<HeaderNavMenu></HeaderNavMenu>
<main>
    <article class="content px-4">
        @Body
    </article>
</main>
<footer class="fixed-bottom flex-shrink-0 py-3 bg-dark text-white-50">
    <div class="d-flex align-items-center">
        <div class="ms-auto">
            <Version></Version>
        </div>
    </div>
</footer>

